@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto card-holder">
    <h2 class="text-center">Quiz Web Application</h2>
    <h4>This is a .NET Core web application where registered users can paticipate in quizzes on different topics.</h4>
    <h5>You can start a new random quiz by clicking ot the qustion icon in the nav menu!</h5>
    <p>Have fun</p>
</div>
