@model CategoryViewModel
@{
    ViewData["Title"] = "Score Page";
    var categories = this.ViewData["categories"] as IEnumerable<SelectListItem>;
    var selectedCategory = string.Empty;
}

<div class="row">
    <div class="mx-auto">
        <div class="mx-auto card-holder">
            <div class="quizCard text-left" style="width: 20em;">
                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <h3>Check your score by selected Category</h3>
                        <div class="col text-center">
                            <select id="categoryId" asp-items="categories" class="form-control col-md-12">
                            </select>
                            <button onclick="getSearchResult()" type="submit" class="btn btn-success"> Get Results</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 text-center">
                        <h3>Check your all time Score</h3>
                        <div class="col text-center">
                            <form method="get" asp-controller="Score" asp-action="AverageScore">
                                <button class="btn btn-success" type="submit">Check All</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // Reloading the whole dom. It can be done better if it send request to action which returns _PartialView
        // Fix later
        function getSearchResult() {
            let categoryId = $("#categoryId").val();

            $.ajax({
                type: "GET",
                url: `/Score/ScoreByCategory?categoryId=${categoryId}`,
                contentType: "text/html; charset=utf-8",
                data: {
                },
                success: function (res) {
                    document.location.href = this.url;
                },
                error: function (res) {
                    console.log(res);
                }
            });
        }
    </script>
} 