@model QuizWebApp.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Quiz Page";

}

<section>
    <div class="container">
        @await this.Html.PartialAsync("_QuizPartial", this.Model)
    </div>
</section>
