@model QuizWebApp.ViewModels.ScoreViewModel
@{
    ViewData["Title"] = "Score Per Category Page";
    var correctAnswers = this.Model.CorrectAnswers;
    var wrongAnsweres = this.Model.WrongAnswers;
    var totalAnswersCount = correctAnswers + wrongAnsweres;
    int percentComplete = (int)Math.Round((double)(100 * correctAnswers) / totalAnswersCount);
}

<h3>@totalAnswersCount questions answered in this category</h3>
<h2>@percentComplete % of the questions answered correctly</h2>
<canvas id="myChart" height="500" width="500"></canvas>

@section Scripts {
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Wrong Answers', 'Correct Answers',],
                datasets: [{
                    label: '# of Wrong Answers',
                    data: [@wrongAnsweres, @correctAnswers,],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(35, 191, 115, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(21, 158, 92, 1)',
                    ],
                    borderWidth: 5,

                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: 'white'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'white'
                        }
                    }]
                }
            }
        });
    </script>
}
